<div class="counter input-group d-inline-flex rounded-pill">
  <button class="btn btn-dark" type="button">-</button>
  <input
    type="text"
    class="form-control text-end"
    placeholder=""
    aria-label=""
    name="qty"
    value="<%= counterValue %>"
  />
  <button class="btn btn-dark" type="button">+</button>
</div>
