<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid flex-column">
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navLinks"
      aria-controls="navLinks"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100" id="navLinks">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">Home</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(session.user) { %>
        <a class="nav-link" href="#"><%= session.user.fullName %></a>
        <a class="nav-link" href="/logout">Logout</a>
        <% } else { %>
        <a class="nav-link" href="/signup">Signup</a>
        <a class="nav-link" href="/login">Login</a>
        <% } %>
      </div>
    </div>
    <div class="container-fluid mb-2">
      <div class="row">
        <div class="col-3 text-end mb-2">
          <a class="navbar-brand fs-1" href="/">Tryme</a>
        </div>
        <div class="col-6 my-auto d-none d-md-block">
          <form class="input-group">
            <input
              class="form-control bg-white"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-secondary" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </div>
        <div class="col-3 text-center mt-2 ms-auto">
          <a
            href="/cart"
            class="cart-link text-decoration-none position-relative"
          >
            <i class="cart-icon bi bi-bag fs-2"></i>
            <% if(session.cart && session.cart.length !== 0) { %>
            <span
              class="badge rounded-pill bg-info text-dark position-absolute top-100 start-100 translate-middle"
            >
              <%= session.cart.reduce((acc, cur) => acc + cur.qty, 0) %>
            </span>
            <% } %>
          </a>
        </div>
      </div>
      <div class="container-fluid mb-2 mt-2 px-sm-4">
        <div class="my-auto d-block d-md-none">
          <form class="input-group">
            <input
              class="form-control bg-white"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-secondary" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
