<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <div class="container-fluid flex-column">
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navLinks"
      aria-controls="navLinks"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100" id="navLinks">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="#">Promotions</a>
        <a class="nav-link" href="#">Suggestions</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="#"><i class="bi bi-bell-fill"></i> Notifications</a>
        <a class="nav-link" href="#">Signup</a>
        <a class="nav-link" href="#">Login</a>
      </div>
    </div>
    <div class="row container-fluid mb-2">
      <a class="navbar-brand text-end col-3 fs-1 mb-2" href="/">Tryme</a>
      <div class="col-12 col-md-6 my-auto">
          <form class="my-auto input-group collapse navbar-collapse" id="navLinks">
            <input
              class="form-control bg-white"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-secondary" type="submit"><i class="bi bi-search"></i></button>
      </div>
      </form>
    </div>
  </div>
</nav>
