body {
  background-color: rgb(228, 228, 228);
  min-height: 150vh;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.vh-40 {
  height: 40vh;
}

.carousel-img {
  object-fit: cover;
  object-position: 50% 20%;
  height: 90vh;
}

.full-img {
  width: 100%;
  height: 100%;
}

.cart-icon {
  color: white;
}

.cart-icon:hover {
  color: rgb(37, 186, 212);
  transition: color 200ms;
}

.trash-icon {
  color: black;
}

.trash-icon:hover {
  color: rgb(37, 186, 212);
  transition: color 200ms;
}

.fixed-card-img {
  object-fit: cover;
  object-position: top;
  height: 40vh;
  width: 100%;
}

.navbar-nav .nav-link {
  border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link:hover {
  color: white;
  border-bottom: 2px white solid;
  padding-top: 3px;
  transition: all 200ms;
}

.zoom:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px rgb(131, 130, 130);
  transition: all 200ms;
}

.splide__slide.zoom:hover {
  box-shadow: none;
}

.counter {
  width: 120px;
}

.cart-img {
  object-fit: contain;
  width: 100%;
  height: 24vh;
  background: transparent;
  border: 4px black solid;
  border-radius: 7px;
}
