body {
  background-color: rgb(228, 228, 228);
}

.nav-bg {
  background-color: rgb(189, 32, 32);
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.light-green {
  background-color: rgb(66, 214, 21);
}

.carousel-img {
  object-fit: cover;
  object-position: top;
  height: 500px;
}

.full-img {
  width: 100%;
  height: 100%;
}
